//colors
$header-background: #1b252f;
$color_nav: #575758;
$color_navlist_hover: #767676;
$color_search_border: #4d5d68;
$search_border_hover: #c9d1d8;
$color_search_background: #1b252f;
$color_header_username: #dde0e3;
$header_username_hover: white;
$color_banner_background: #0c0f12;
$reels_background: #0f171e;

// responsive
$mobile_small: 450px;
$mobile: 768px;
$tablet: 1180px;
$web: 1500px;
