// font-weights

$medium: 500;
$bold: 600;
$bolder: 700;

// font-sizes

$font-small: 14px;
$font16:16px;
$font-medium: 18px;
$font-large: 20px;
$font-responsive-small: 12px;
$font-responsive-smaller: 10px;