@import "../../assets/sass/main.scss";
.auth_wrapper {
  text-align: center;
  padding: 80px 16% 51px 16%;
  color: #051441;
  font-size: 33px;
  font-weight: 600;
  @media only screen and (min-width: 1500px) {
    padding-top: 90px;
  }
  @media only screen and (max-width: 1180px) {
    padding-top: 56px;
    font-size: 31px;
  }
  @media only screen and (max-width: 880px) {
    font-size: 28px;
  }
  @media only screen and (max-width: 580px) {
    padding-bottom: 39px;
    font-size: 22px;
  }
}
.auth_form_container {
  margin-bottom: 100px;
  width: 100%;
  @media only screen and (min-width: 1500px) {
    margin-bottom: 120px;
  }
  @media only screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }
  .auth_form {
    .elements {
      width: 100%;
      .element_name {
        width: 400px;
        margin: 0px auto 33px auto;
        @media only screen and (max-width: 1180px) {
          width: 356px;
        }
        @media only screen and (max-width: 650px) {
          width: 296px;
        }
        @media only screen and (max-width: 480px) {
          width: 230px;
        }

        .field {
          width: 342px;
          font-weight: 500;
          padding: 20px 26px;
          border-radius: 30px;
          border: 1px solid #e1e1e3;
          font-size: 14px;
          // outline: none;
          color: #051441;
          @media only screen and (max-width: 1180px) {
            width: 300px;
          }
          @media only screen and (max-width: 650px) {
            width: 240px;
          }

          @media only screen and (max-width: 580px) {
            font-size: 13px;
          }

          @media only screen and (max-width: 480px) {
            width: 174px;
            padding: 18.5px 26px;
          }
        }
        .field:focus {
          border: 1px solid #4154f1;
        }
        .alert {
          font-size: 13.5px;
          color: #f30303;
          margin: 8px 0 0 26px;
          @media only screen and (max-width: 580px) {
            font-size: 13px;
          }
        }
      }
    }

    .submit_button {
      text-align: center;
    }
    .submit {
      text-align: center;
      // outline: none;
      cursor: pointer;
      background: white;
      font-weight: 500;
      text-align: center;
      color: #4154f1;
      font-size: 14px;
      border: 1px solid #4154f1;
      padding: 15px 62px;
      border-radius: 30px;
      @media only screen and (max-width: 880px) {
        padding: 11px 48px;
      }
      @media only screen and (max-width: 580px) {
        font-size: 13px;
        padding: 9px 40px;
      }
    }
    .submit:hover {
      background: #4154f1;
      transition: background 0.3s;
      color: white;
    }
  }
}
