@import "../../../assets/sass/main.scss";

.footer_container {
  padding: 16px 0;
   text-align: center;
   color: #a99fc5;
   letter-spacing: 1px;
   border-top: 1px solid transparent;
   border-image: linear-gradient( 
0.25turn
, rgba(56, 2, 155, 0), #d1cce0, rgba(56, 2, 155, 0));
   border-image-slice: 1;
  
  .about {
    margin: 10px 0 28px 0;
    color:gray;
    font-weight: 500;
   p {
      font-size: 16px;
    }
    a {
      text-decoration: none;
      span {
        position: relative;
      }
      span:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #ccc9d4;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
      }
      span:hover:before {
        visibility: visible;
        width: 100%;
      }
    }
  }
  .version {
    font-size: 14px;
    margin: 0px 0 13px 0;
  }
  p {
    word-spacing: 2px;
    font-size: 14px;  
  }

}
