@import "../../assets/sass/main.scss";
.menu {
  display: flex;
  width: 100%;
}
.navbuttons_container {
  width: 20%;
  margin-top: 50px;
  height: 400px;
  .home_container {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1.2px solid #d3d3d35e;
    .home_image {
      width: 24px;
      height: 23px;
      align-items: center;
      padding: 0 0 0 30px;
    }
  }
  p {
    color: #051441;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    padding: 0 20px;
  }
  .dropdown {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 148px;
    position: absolute;
    background-color: white;
    // min-width: 240px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    z-index: 1;
    padding-top: 20px;
    border-radius: 4px;
  }
  .reports {
    text-align: left;
  }

  .dropdown-content a {
    font-weight: 600;
    font-size: 15px;
    color: #051441;
    padding: 10px 20px 10px 74px;
    text-decoration: none;
    display: block;
    @media only screen and (min-width: $web) {
      font-size: 17px;
    }
  }
  .dropdown-content a:hover {
    background-color: #faeea9;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    color: #e93229;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbuttons {
    cursor: pointer;
    display: flex;
    .navbuttons_image {
      width: 24px;
      height: 23px;
      align-items: center;
      padding: 0 0 0 30px;
    }
  }
}
.navbuttons_container .navbuttons_link.myactive.active {
  color: #e93229;
}

.report_content_container {
  width: 80%;
  border-radius: 13px;
  color: #051441;
  .report_content {
    margin: 46px 20px 0px 20px;
    padding-bottom: 50px;
  }
  .menu_heading {
    font-size: 15px;
    color: gray;
    font-weight: 700;
    padding-top: 70px;
  }
}

.bottom_to_top {
  width: 34px;
  height: 34px;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 70px;
  cursor: pointer;
  &__block {
    background: #faeea9;
    border-radius: 30px;
    text-align: center;
    color: #e93229;
    font-weight: 600;
    font-size: 22px;
    padding-top: 7.2px;
  }
}

//
:host ::ng-deep input {
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid #e1e1e3;
  font-size: 14px;
  color: #051441;
  margin-bottom: 20px;
}
:host ::ng-deep input:focus {
  border: 1px solid #4154f1;
}

//
:host ::ng-deep table {
  width: 100%;
  border: 1.2px solid #d3d3d35e;
  // border-collapse: collapse;
  // border-spacing: 0;
  border-radius: 8px;
}
:host ::ng-deep th {
  padding: 10px 0;
  border: 1.2px solid #d3d3d35e;
  // border-collapse: collapse;
}
:host ::ng-deep td {
  text-align: center;
  padding: 10px 0;
  border: 1.2px solid #d3d3d35e;
  // border-collapse: collapse;
}

//
:host ::ng-deep pagination-controls {
  position: absolute;
  z-index: 3;
  background: white;
  // bottom: 0;
  margin-top: 10px;
  right: 0;
  border-radius: 15px;
}
:host ::ng-deep .ngx-pagination {
  .current {
    border-radius: 30px;
    background: #faeea9;
    padding: 4px 9px;
    color: #e93229;
  }
  a {
    padding: 4px 9px;
  }
  a:hover {
    border-radius: 30px;
    background: #faeea9;
    transition: background 0.3s;
    color: #e93229;
  }
}
