@import "../../assets/sass/main.scss";

.navbuttons_container {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    0.25turn,
    rgba(56, 2, 155, 0),
    #d1cce0,
    rgba(56, 2, 155, 0)
  );
  border-image-slice: 1;
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 220px;
    position: absolute;
    background-color: white;
    min-width: 240px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    z-index: 1;
    padding-top: 20px;
    border-radius: 4px;
  }
  .reports {
    text-align: left;
  }

  .dropdown-content a {
    font-weight: 600;
    font-size: 15px;
    color: #051441;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    @media only screen and (min-width: $web) {
      font-size: 17px;
    }
  }
  .dropdown-content a:hover {
    background-color: #faeea9;
    border-radius: 4px;
    color: #e93229;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbuttons {
    cursor: pointer;
    margin: 0 20px;
    .navbuttons_link {
      color: #051441;
      text-decoration: none;
      font-weight: 600;
      font-size: 17px;
    }
  }
}
.navbuttons a {
  font-size: 15px;
  @media only screen and (min-width: $web) {
    font-size: 17px;
  }
}
.navbuttons_container .navbuttons_link.myactive.active {
  color: #e93229;
}

.report_content {
  margin: 40px;
  height: 500px;
  // background-image: url("../../assets/jpg/report_content_bg.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  border-radius: 13px;
  opacity: 0.7;
}
