<div class="menu">
  <div class="navbuttons_container">
    <div class="home_container">
      <img class="home_image" src="../../assets/png/home.png" />
      <p *ngFor="let key of Object.keys(siteData.menu)">{{ key }}</p>
    </div>

    <div class="dropdown">
      <div class="navbuttons">
        <img class="navbuttons_image" src="../../assets/png/reports.png" />
        <p
          class="navbuttons_link"
          *ngFor="let reports_list of Object.keys(siteData.menu.Menu[0])"
        >
          {{ reports_list }}
        </p>
      </div>
      <div class="dropdown-content">
        <div
          class="reports"
          *ngFor="let reports of siteData.menu.Menu[0].Reports"
        >
          <div *ngFor="let reports_names of Object.keys(reports)">
            <a
              class="navbuttons_link"
              routerLinkActive="myactive active"
              *ngFor="let reports_link of Object.values(reports)"
              routerLink="/menu/{{ reports_link }}"
              >{{ reports_names }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="report_content_container">
    <div class="report_content">
      <div
        class="menu_heading"
        data-aos-once="true"
        data-aos="fade-up"
        data-aos-delay="100"
        *ngIf="router.url === '/menu'"
      >
        This application is for Hero MotoCorp
        <br />
        Please use navigation tabs to perform an action
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="bottom_to_top">
  <p class="bottom_to_top__block" *ngIf="isShow" (click)="gotoTop()">^</p>
</div>
