@import "../../../assets/sass/main.scss";
.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  transition: top 0.3s ease-in-out;
  @media only screen and (min-width: $web) {
    height: 84px;
  }
  @media only screen and (max-width: $tablet) {
    background: transparent;
    display: block;
    box-shadow: rgba(33, 35, 38, 0) 0px 10px 10px -10px;
  }
  .header_container {
    // @media only screen and (max-width: $tablet) {
    //   display: none;
    // }
    a {
      @include flex-item-center();
      text-decoration: none;
      // margin-right: 400px;
    }
    a:hover {
      .header_icon {
        transform: rotate(360deg);
        transform: translate(80%);
      }
      p {
        transition: all 0.9s;
        color: transparent;
      }
    }
    .header_icon {
      width: 70px;
      height: 67.5px;
      margin-right: 4px;
      transition: transform 0.7s ease-in-out;
      @media only screen and (min-width: $web) {
        width: 84px;
        height: 80.5px;
        margin-right: 7px;
      }
      &__block {
        width: 100%;
        height: 100%;
      }
    }
    p {
      // font-family: Comic Sans MS;
      
      @media only screen and (min-width: $web) {
        font-size: 23px;
      }
      color: #e93229;
      font-size: 20px;
      font-weight: 300;
    }
  }
}
